
@media only screen and (max-width: 800px) {
    body{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .logo{
        text-align: center;
    }
    .logo h1{
        padding-left: 0;
    }
    header{
        background: url(../img/fundo3.png) no-repeat center center;
        padding-top: 50px;
        height: 512px;
        padding-left: 20px;
        padding-top: 100px;
    }
    header h2{
        font-size: 35px;
    }
    header p{
        font-size: 20px;
    }
    header a{
        padding: 20px;
        font-size: 15px;
    }
    .whats{
        width: 50px;
        height: 50px;
        bottom: 12px;
        right: 6px;
    }
}